<a href="https://colab.research.google.com/github/amitkr6342/Python-Exercises-and-Challenges-with-Solutions/blob/main/1_Python_Input_and_Output_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

  # Python Input and Output Exercise

* In Python, we can use the input() to accept input from a user and print() to display output on the console. Also, we can use Python for file handling (Reading, writing, appending, and deleting files).

----------

## **Exercise 1: Accept numbers from a user**

Write a program to accept two numbers from the user and calculate multiplication

**Hint:** 
* Use Python 3’s built-in function input() to accept user input

* Convert user input to the integer type using the int() constructor.

----------

## Exercise 2: Display three string “Name”, “Is”, “James” as “Name@@Is@@James”

Use the print() function to format the given words in the mentioned format. Display the @@ separator between each string.

**Expected Output:**

**For example:** print('Name', 'Is', 'James') will display Name@@Is@@James

-----------

## Exercise 3: Convert Decimal number to octal using print() output formatting

**Expected Output:**

The octal number of decimal number 8 is 10

**Hint:**

Use the %o formatting code in print() function to format decimal number to octal.

--------

## Exercise 4: Display float number with 2 decimal places using print()

**Hint:** Use the %.2f formatting code in print() function to format float number to two decimal places.

----------

## Exercise 5: Accept a list of 5 float numbers as an input from the user

**Expected Output:**

[78.6, 78.6, 85.3, 1.2, 3.5]

**Hint:**

* Create a list variable named numbers

* Run loop five times

* In each iteration of the loop, use the input() function to take input from a user

* Convert user input to float number using the float() constructor

* Add float number to the numbers list using the append() function

--------

## Exercise 6: Accept any three string from one input() call

Write a program to take three names as input from a user in the single input() function call.

**Expected Output:**
````
Enter three string Emma Jessa Kelly

Name1: Emma

Name2: Jessa

Name3: Kelly

````
**Hint:**

* Ask the user to enter three names separated by space

* Split input string on whitespace using the split() function to get three individual names

# Solutions:

## Exercise 1:

In [ ]:
num1 = int(input("Enter first number "))
num2 = int(input("Enter second number "))

res = num1 * num2
print("Multiplication is", res)

Enter first number 1
Enter second number 1
Multiplication is 1

-------

## Exercise 2:

In [ ]:
print('Name', 'Is', 'James', sep='@@')

Name@@Is@@James

-----------

## Exercise 3:

In [ ]:
num = 8
print('%o' % num)

10

---------

## Exercise 4:

In [ ]:
num = 458.541315
print('%.2f' % num)

458.54

-------

## Exercise 5:

In [ ]:
numbers = []

# 5 is the list size
# run loop 5 times
for i in range(0, 5):
    print("Enter number at location", i, ":")
    # accept float number from user
    item = float(input())
    # add it to the list
    numbers.append(item)

print("User List:", numbers)

Enter number at location 0 :
1
Enter number at location 1 :
1
Enter number at location 2 :
1
Enter number at location 3 :
1
Enter number at location 4 :
1
User List: [1.0, 1.0, 1.0, 1.0, 1.0]

-------

## Exercise 6:

In [ ]:
str1, str2, str3 = input("Enter three string").split()
print('Name1:', str1)
print('Name2:', str2)
print('Name3:', str3)

Enter three stringAmit Anuj Ankit
Name1: Amit
Name2: Anuj
Name3: Ankit

----------